<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://kit.fontawesome.com/7a969167f1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/styles/navbar.css">
  <link rel="stylesheet" href="/public/styles/footer.css">
  <link rel="stylesheet" href="/public/styles/contact.css">
  <link rel="stylesheet" href="/public/styles/home.css">
  <link rel="stylesheet" href="/public/styles/particular.css">

  <title>Bordeaux-informatique/Particulier/Intervention</title>
</head>
<body>
  <header>
    <nav class="navbar blue-mode" role="navigation">
      <div class="navbar_logo"><img src="/public/assets-bx-informatique/logo-du-service-informatique.jpg" alt=""></div>
      <ul class="navbar_links">
          <li class="navbar_link first"><a href="/templates/accueil.html">Accueil</a></li>
          <li class="navbar_link second"><a href="/templates/particulier.html">Particuliers</a></li>
          <li class="navbar_link third"><a href="/templates/entreprise.html">Entreprises</a></li>
          <li class="navbar_link four"><a href="">A propos</a></li>
          <li class="navbar_link fifth"><a href="/templates/contact.html">Contact</a></li>
      </ul>
      <button class="burger">
          <span class="bar"></span>
      </button> <span class="menu">Menu</span>
  </nav>
  </header>
  <main>
    <section class="particular-package">
      <h1>Intervention en atelier</h1>
    </section>
    <section class="intervention package">
        <div class="container-part">
            <div class="intervention-part workshop-part">
                <div class="price">
                    <div class="price-particular price-workshop">
                        <h4>Tarif Horaire</h4>
                        <h2><span>70 € TTC</span>
                        <p class="text-small-para">Diagnostic sous 48h</p>
                    </div>
                    <div class="price-speed ">
                        <h4>Tarif Horaire SPEED</h4>
                        <h2><span>100 € TTC</span>
                        <p class="text-small-para">Diagnostic sous 24h</p>
                    </div>
                    <div class="price-speed ">
                      <h4>Tarif Horaire Prise en Main à Distance</h4>
                      <h2><span>35 € TTC</span>
                        <p class="text-small-para">Résolution immediate</p>
                  </div>
                </div>
                <div class="paragraph-part-workshop">
                    <p>Pour un besoin ponctuel, rapide et efficace en dépannage, installation, assistance informatique. Souvent, un simple problème peut se révéler bloquant mais peut toutefois être résolu rapidement.             
                    </p>
                    <p>Nous vous accueillons dans notre atelier pour solutionner votre incident logiciel ou matériel.</p>
                    <p>Notre volonté est de vous fournir le meilleur service avec la qualité que vous êtes en droit d’attendre, tout en répondant à vos besoins.</p>
                    <h3>LES PLUS ?</h3>
                    <p>Un diagnostic sous 48h !</p>
                </div>
            </div>
        </div>
    </section>
  </main>
  <footer>
    <div class="footer_container blue-mode">
        <div class="social">
            <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
            <a href="#"><i class="fa-brands fa-square-snapchat"></i></i></a>
            <a href="#"><i class="fa-brands fa-square-twitter"></i></i></a>
            <a href="#"><i class="fa-brands fa-square-facebook"></i></i></a>
        </div>
        <div class="footer">
            <div class="footer_logo">
                <img src="" alt="">
            </div>
            <ul class="footer_links">
                <li class="footer_link first"><a href="#">Accueil</a></li>
                <li class="footer_link second"><a href="#">Services</a></li>
                <li class="footer_link third"><a href="#">A propos de nous</a></li>
                <li class="footer_link four"><a href="#">Mentions légales</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>bordeaux-informatique © 2022</p>
        </div>
    </div>
</footer>
  <script src="/script/navbar.js"></script>
</body>
</html>