<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://kit.fontawesome.com/7a969167f1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/styles/navbar.css">
  <link rel="stylesheet" href="/public/styles/footer.css">
  <link rel="stylesheet" href="/public/styles/contact.css">
  <link rel="stylesheet" href="/public/styles/home.css">
  <link rel="stylesheet" href="/public/styles/particular.css">
  <link rel="stylesheet" href="/public/styles/company.css">
  <title>Bordeaux-informatique/Company/contract</title>
</head>
<body>
  <header>
    <nav class="navbar blue-mode" role="navigation">
      <div class="navbar_logo"><img src="/public/assets-bx-informatique/logo-du-service-informatique.jpg" alt=""></div>
      <ul class="navbar_links">
          <li class="navbar_link first"><a href="/templates/accueil.html">Accueil</a></li>
          <li class="navbar_link second"><a href="/templates/particulier.html">Particuliers</a></li>
          <li class="navbar_link third"><a href="/templates/entreprise.html">Entreprises</a></li>
          <li class="navbar_link four"><a href="">A propos</a></li>
          <li class="navbar_link fifth"><a href="/templates/contact.html">Contact</a></li>
      </ul>
      <button class="burger">
          <span class="bar"></span>
      </button> <span class="menu">Menu</span>
  </nav>
  </header>
  <main>
    <section class="company-cont">
      <h1>Contrats de maintenance</h1>
    </section>
    <section class="contract">
            <div class="contract-comp">
                <div class="company-contract">
                        <img src="/public/assets-bx-informatique/contrats-de-maintenance.png" alt="contrat">
                    <div class="contact-comp">                 
                      <a href=""><button type="button"><i class="fa-solid fa-phone"></i> Contactez-nous</button></a>
                      
                    </div>                      
                </div>
                <div class="paragraph-part-company">
                    <p>Ils ont été pensés pour que vous soyez assistés durant un an, par téléphone, sur site ou à distance grâce notre solution de télémaintenance. Nous interviendrons autant de fois qu’il sera nécessaire pour résoudre les pannes informatiques.            
                    </p>
                    <p>Sans coût supplémentaire de main d’œuvre, nos contrats de maintenance sont étudiés pour favoriser et améliorer le fonctionnement des parcs informatiques et faciliter l’activité des entreprises et celle des employés, en toute sérénité.
                    </p>
                    <p>Notre objectif est de garantir un fonctionnement continu des systèmes informatiques par une intervention préventive trimestrielle de nettoyage des postes de travail et mensuelle sur les serveurs</p>
                    <p>Le contrat de maintenance est la solution idéale pour faire évoluer son informatique et assurer un service optimum.</p>
                    <p>Les évolutions possibles : mise en place ou amélioration du réseau, sauvegardes automatisées, accès à distance de vos fichiers ou postes de travail, vidéo-surveillance, vidéo-conférence, …</p>
                </div>
            </div>
    </section>
  </main>
  <footer>
    <div class="footer_container blue-mode">
        <div class="social">
            <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
            <a href="#"><i class="fa-brands fa-square-snapchat"></i></i></a>
            <a href="#"><i class="fa-brands fa-square-twitter"></i></i></a>
            <a href="#"><i class="fa-brands fa-square-facebook"></i></i></a>
        </div>
        <div class="footer">
            <div class="footer_logo">
                <img src="" alt="">
            </div>
            <ul class="footer_links">
                <li class="footer_link first"><a href="#">Accueil</a></li>
                <li class="footer_link second"><a href="#">Services</a></li>
                <li class="footer_link third"><a href="#">A propos de nous</a></li>
                <li class="footer_link four"><a href="#">Mentions légales</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>bordeaux-informatique © 2022</p>
        </div>
    </div>
</footer>
  <script src="/script/navbar.js"></script>
</body>
</html>