<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://kit.fontawesome.com/7a969167f1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/styles/navbar.css">
  <link rel="stylesheet" href="/public/styles/footer.css">
  <link rel="stylesheet" href="/public/styles/contact.css">
  <link rel="stylesheet" href="/public/styles/home.css">
  <link rel="stylesheet" href="/public/styles/particular.css">
  <link rel="stylesheet" href="/public/styles/company.css">
  <title>Bordeaux-informatique/Company/Pckage</title>
</head>
<body>
  <header>
    <nav class="navbar blue-mode" role="navigation">
      <div class="navbar_logo"><img src="/public/assets-bx-informatique/logo-du-service-informatique.jpg" alt=""></div>
      <ul class="navbar_links">
          <li class="navbar_link first"><a href="/templates/accueil.html">Accueil</a></li>
          <li class="navbar_link second"><a href="/templates/particulier.html">Particuliers</a></li>
          <li class="navbar_link third"><a href="/templates/entreprise.html">Entreprises</a></li>
          <li class="navbar_link four"><a href="">A propos</a></li>
          <li class="navbar_link fifth"><a href="/templates/contact.html">Contact</a></li>
      </ul>
      <button class="burger">
          <span class="bar"></span>
      </button> <span class="menu">Menu</span>
  </nav>
  </header>
  <main>
    <section class="company">
      <h1>Nos forfaits</h1>
    </section>
    <section class="intervention company-inter">
        <div class="container-part fields">
            <div class="intervention-part">
                <div class="price company-price">
                    <div class="price-particular-comp">
                        <h4>4 heures</h4>
                        <h2><span>300 € TTC</span>
                        </h2>
                        <p class="text-small-para">soit un tarif à l’heure de 75 € HT</p>
                    </div>
                    <div class="price-speed field">
                        <h4>6 heures</h4>
                        <h2><span>435 € TTC</span>
                        </h2>
                        <p class="text-small-para">soit un tarif à l’heure de 72,50 € HT</p>
                    </div>
                </div>
                <div class="paragraph-part-company">
                    <p>Ils ont été conçus pour maitriser vos dépenses liées à l’informatique grâce à un crédit d’heures prépayées. Ils vous permettront de nous solliciter sans payer de frais de déplacement et avec des coûts horaires dégressifs.             
                    </p>
                    <p>Nous vous proposons qu’un technicien se déplace rapidement, pour solutionner votre incident logiciel ou matériel.
                      Notre volonté est de vous fournir le meilleur service avec la qualité que vous êtes en droit d’attendre, tout en répondant à vos besoins.
                    </p>
                    <h3>LES PLUS ?</h3>
                    <ol>
                      <li>Une gestion optimale du coût de la maintenance informatique car sans limite d’utilisation dans le temps.</li>
                      <li>Un technicien professionnel se déplace rapidement pour solutionner votre problème logiciel ou matériel.</li>
                      <li>Une intervention préventive trimestrielle d’entretien de votre parc informatique (serveurs et postes de travail).</li>
                    </0l>
                </div>
            </div>
        </div>
    </section>
  </main>
  <footer>
    <div class="footer_container blue-mode">
        <div class="social">
            <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
            <a href="#"><i class="fa-brands fa-square-snapchat"></i></i></a>
            <a href="#"><i class="fa-brands fa-square-twitter"></i></i></a>
            <a href="#"><i class="fa-brands fa-square-facebook"></i></i></a>
        </div>
        <div class="footer">
            <div class="footer_logo">
                <img src="" alt="">
            </div>
            <ul class="footer_links">
                <li class="footer_link first"><a href="#">Accueil</a></li>
                <li class="footer_link second"><a href="#">Services</a></li>
                <li class="footer_link third"><a href="#">A propos de nous</a></li>
                <li class="footer_link four"><a href="#">Mentions légales</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>bordeaux-informatique © 2022</p>
        </div>
    </div>
</footer>
  <script src="/script/navbar.js"></script>
</body>
</html>