<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://kit.fontawesome.com/7a969167f1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/styles/navbar.css">
  <link rel="stylesheet" href="/public/styles/footer.css">
  <link rel="stylesheet" href="/public/styles/contact.css">
  <link rel="stylesheet" href="/public/styles/home.css">
  <title>Bordeaux-informatique/Accueil</title>
</head>
<body>
  <header>
    <nav class="navbar  blue-mode" role="navigation">
      <div class="navbar_logo"><img src="/public/assets-bx-informatique/logo-du-service-informatique.jpg" alt=""></div>
      <ul class="navbar_links">
          <li class="navbar_link first"><a href="/templates/accueil.html">Accueil</a></li>
          <li class="navbar_link second"><a href="/templates/particulier.html">Particuliers</a></li>
          <li class="navbar_link third"><a href="/templates/entreprise.html">Entreprises</a></li>
          <li class="navbar_link four"><a href="/templates/apropos.html">A propos</a></li>
          <li class="navbar_link fifth"><a href="/templates/contact.html">Contact</a></li>
      </ul>
      <button class="burger">
          <span class="bar"></span>
      </button> <span class="menu">Menu</span>
  </nav>
  </header>
  <main>
    <section class="home">
      <div class="container-home">
            <h5>Leader du dépannage informatique sur Bordeaux</h5>
            <h1>UNE VRAIE ÉQUIPE, DE VRAIES SOLUTIONS</h1>
            <div class="btn-home">
                <div class="btn-phones">
                    <button type="button"><i class="fa-solid fa-phone"></i></i> <a href="/templates/contact.html">Je souhaite être rappelé</a></button>
                </div>
                <div class="btn-maps">
                    <button type="button"><a href="/templates/contact.html">Où nous trouver <i class="fa-solid fa-location-dot"></i></a></button>
                </div>
            </div>
      </div>
    </section>
    <div class="wraper">
        <h1>Et si vous nous découvriez en vidéo ?</h1>
        <div class="video">
            <iframe title="Depanordi Bordeaux" src="https://player.vimeo.com/video/491787959?h=423f3ce518&amp;dnt=1&amp;app_id=122963" width="100%" height="600" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen=""></iframe>
        </div>
        <div class="wraper-service">
            <i class="fa-solid fa-wifi"></i>
            <h2>Nos services informatiques indispensables pour tous</h2>
            <p>
              L’informatique est aujourd’hui indispensable, non seulement pour les particuliers, mais aussi pour les entreprises.</p>
        </div>
        <div class="wraper-cards">
            <div class="wraper-particular">
                <div class="wraper-image">
                    <h3>Particuliers</h3>
                    <a href="/templates/particulier.html">
                      <img src="/public/assets-bx-informatique/particuler-img.jpg" alt="">
                    <span>En savoir plus <i class="fa-solid fa-angle-right"></i></span> 
                    </a>
                </div>
                <div class="title">
                    <div class="title-part">
                        <i class="fa-solid fa-euro-sign"></i>
                        <h5>Des prestations de qualité avec un budget maitrisé</h5>
                    </div>
                    <div class="title-part">
                        <i class="fa-solid fa-clock"></i>
                        <h5></i>Un dépannage sous 48h maximum</h5>
                    </div>
                    <div class="title-part">
                        <i class="fa-solid fa-percent"></i>
                        <h5>50% de réduction fiscale à domicile</h5>
                    </div>
                </div>
            </div>
            <div class="wraper-company">
                <div class="wraper-image">
                    <h3>Entreprises</h3>
                    <a href="/templates/entreprise.html">
                    <img src="/public/assets-bx-informatique/company-img.jpg" alt="photo entreprise">
                    <span>En savoir plus <i class="fa-solid fa-angle-right"></i></span>
                    </a>
                </div>
                <div class="title">
                    <div class="title-part">
                        <i class="fa-solid fa-laptop"></i>   
                        <h5>Infogérance de votre parc informatique</h5>
                    </div>
                    <div class="title-part">
                        <i class="fa-solid fa-clock"></i>
                        <h5>Un dépannage sous 24h maximum</h5>
                    </div>
                    <div class="title-part">
                        <i class="fa-solid fa-book"></i>
                        <h5>Audit gratuit et sans engagement</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wraper-sav">
        <div class="service-depa-1">
              <div class="audi">
                  <div class="icon-book">
                      <i class="fa-solid fa-book book"></i> 
                  </div>
                  <h4>Audit gratuit</h4>
                  <p>Il s’agit d’un audit permettant d’avoir une vue globale de l’état du parc existant et d’effectuer un diagnostic des machines. L’objectif est de trouver les axes d’amélioration pour tirer le meilleur parti de votre informatique et en améliorer les performances.</p>
              </div>
              <div class="recup-data">
                  <div class="icon-usb">
                    <i class="fa-solid fa-download download"></i>
                  </div>
                  <h4>Récupération de données</h4>
                  <p>Un crash de disque dur, une suppression malencontreuse ou un défaut matériel ? Tout est possible et nous avons plusieurs moyens pour récupérer vos données simplement ou en salle blanche si nécessaire.</p>
              </div>
              <div class="server">
                  <div class="icon-server">
                    <i class="fa-sharp fa-solid fa-server server"></i>
                    <i class="fa-sharp fa-solid fa-server server"></i>
                  </div>
                  <h4>Intégration et gestion de serveur / NAS</h4>
                  <p>Solution permettant d’améliorer sa productivité, tout en facilitant sa manière de travailler et ce, au quotidien, nous proposons l’intégration et gestion de serveurs physiques, externalisés ou de type NAS.</p>
              </div>
        </div>
        <div class="service-depa-2">
              <div class="network">
                  <div class="icon-net">
                    <i class="fa-solid fa-network-wired wired"></i>
                  </div>
                  <h4>Réseaux, câblages et baies informatiques</h4>
                  <p>Choisir un câblage ou une baie est une décision stratégique pour une entreprise et peut avoir un fort impact sur l’informatique. De ce fait, nous sommes force de propositions dans son installation, son optimisation ou sa remise en état.</p>               
              </div>
              <div class="save">
                  <div class="icon-save">
                    <i class="fa-sharp fa-solid fa-floppy-disk disk"></i>
                  </div>
                  <h4>Sauvegarde et protection des données</h4>
                  <p>Nous sommes spécialisés dans la protection de vos données, grâce à la mise en place de logiciels ou de moyens de sauvegarde multiples, éprouvés, performants et adaptés à votre manière de travailler.</p>
              </div>
        </div>
        <div class="client">
              <div class="icon-conf">
                <i class="fa-sharp fa-solid fa-users-rectangle"></i>
                <h2>Ils nous font confiance !</h2>
              </div>
        </div>
        <div class="service-depa-3">
              <div class="card-partner">
                    <div class="partner">
                        <img src="/public/assets-bx-informatique/4ss.png" alt="">
                        <h4>4 STABLE STICK</h4>
                    </div>
                    <p>Partenaire compétant et à l’écoute de ses clients. Toujours prompt à trouver une réponse.</p>
              </div>             
              <div class="card-partner">
                    <div class="partner">
                        <img src="/public/assets-bx-informatique/lokizi-1.png" alt="">
                        <h4>LOKIZI</h4>
                    </div>
                    <p>Nous avons choisi Depanordi sur les conseils d’un pro du net. Depanordi a su nous guider dans nos choix et nous a mis en place des solutions performantes, fiables, et évolutives.</p>
              </div>              
              <div class="card-partner">
                    <div class="partner">
                        <img src="/public/assets-bx-informatique/3print.png" alt="">
                        <h4>3 PRINT</h4>
                    </div>
                    <p>Partenaire compétant et à l’écoute de ses clients. Pertinence et fiabilité des solutions proposées, Dépanordi est un partenaire réactif pour l’ensemble de nos besoins informatique.</p>
              </div>             
        </div>
    </div>
  </main>
  <footer>
    <div class="footer_container blue-mode">
        <div class="social">
            <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
            <a href="#"><i class="fa-brands fa-square-snapchat"></i></i></a>
            <a href="#"><i class="fa-brands fa-square-twitter"></i></i></a>
            <a href="#"><i class="fa-brands fa-square-facebook"></i></i></a>
        </div>  
        <div class="footer">
            <div class="footer_logo">
                <img src="" alt="">
            </div>
            <ul class="footer_links">
                <li class="footer_link first"><a href="#">Accueil</a></li>
                <li class="footer_link second"><a href="#">Services</a></li>
                <li class="footer_link third"><a href="#">A propos de nous</a></li>
                <li class="footer_link four"><a href="#">Mentions légales</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>bordeaux-informatique © 2022</p>
        </div>
    </div>
</footer>
  <script src="/script/navbar.js"></script>
</body>
</html>