<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://kit.fontawesome.com/7a969167f1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/styles/navbar.css">
  <link rel="stylesheet" href="/public/styles/footer.css">
  <link rel="stylesheet" href="/public/styles/contact.css">
  <link rel="stylesheet" href="/public/styles/home.css">
  <title>Bordeaux-informatique/A propos</title>
</head>
<body>
  <header>
    <nav class="navbar  blue-mode" role="navigation">
      <div class="navbar_logo"><img src="/public/assets-bx-informatique/logo-du-service-informatique.jpg" alt=""></div>
      <ul class="navbar_links">
          <li class="navbar_link first"><a href="/templates/accueil.html">Accueil</a></li>
          <li class="navbar_link second"><a href="/templates/particulier.html">Particuliers</a></li>
          <li class="navbar_link third"><a href="/templates/entreprise.html">Entreprises</a></li>
          <li class="navbar_link four"><a href="/templates/apropos.html">A propos</a></li>
          <li class="navbar_link fifth"><a href="/templates/contact.html">Contact</a></li>
      </ul>
      <button class="burger">
          <span class="bar"></span>
      </button> <span class="menu">Menu</span>
  </nav>
  </header>
  <main>
    <section class="about">
      <h1>A propos de nous </h1>
    </section>
    <section class="about-us">
      <div class="us">
        <img src="/public/assets-bx-informatique/depa.PNG" alt="façade du magasin">
      </div>
      <div class="para-us">
        <p>Prestataire informatique de qualité installé à Bordeaux, Dépanordi Bordeaux c’est plus de 5 500 clients et plus de 15 000 interventions sur site ou à domicile depuis 2010.</p>
        <p>Bordeaux-Informatique c’est une équipe à taille humaine qui répond aux besoins des TPE, PME et particuliers.</p>
        <p>Dépanordi Bordeaux fournit à ses clients les prestations, les matériels et logiciels adaptés et répondant aux exigences de fiabilité, de performance et de coût.</p>
        <p>La force de Dépanordi Bordeaux se caractérise par sa proximité géographique, son écoute active, ses conseils pertinents et sa réactivité en cas d’imprévu, ainsi que le suivi personnalisé de chacun de ses clients.</p>
      </div>
    </section>
  </main>
  <footer>
    <div class="footer_container blue-mode">
        <div class="social">
            <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
            <a href="#"><i class="fa-brands fa-square-snapchat"></i></i></a>
            <a href="#"><i class="fa-brands fa-square-twitter"></i></i></a>
            <a href="#"><i class="fa-brands fa-square-facebook"></i></i></a>
        </div>  
        <div class="footer">
            <div class="footer_logo">
                <img src="" alt="">
            </div>
            <ul class="footer_links">
                <li class="footer_link first"><a href="#">Accueil</a></li>
                <li class="footer_link second"><a href="#">Services</a></li>
                <li class="footer_link third"><a href="#">A propos de nous</a></li>
                <li class="footer_link four"><a href="#">Mentions légales</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>bordeaux-informatique © 2022</p>
        </div>
    </div>
</footer>
  <script src="/script/navbar.js"></script>
</body>
</html>